.nav {
    display: flex;
    flex-direction: column;
    width: 10%;
    align-items: center;
    border-right: 2px solid;
}

.item {
    margin-top: 30px;
    font-weight: bold;
}
.item a {
    color: black;
    text-decoration: none;
}

.item a:hover {
    color: white;
    text-decoration: none;
    background: orange;
    padding: 10px 15px;
    border-radius: 30px;
    transition: 0.2s;
}

.item a.active{
    text-decoration: none;
    background: coral;
    padding: 10px 15px;
    border-radius: 30px;
    transition: 0.2s;
}